// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Roboto:wght@300;400&display=swap');

* {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Domine', serif;
}

//single course *************************
#single-course-wrapper h2 {
	border-bottom: 1px solid $gray;
}

.holder {
	margin: 20px 0 40px 0;
}

//dates
.table thead th {
	background-color: #efefef;
}

.date-row h3 {
	font-size: 1em;
	margin-top: 10px;
}

.single-date {
	border-top: 1px solid #efefef;
	padding: 5px 0;
	margin-bottom: 5px;
}

//artefact 
.artefact-row {
	margin: 5px 0;
	border-bottom: 1px solid #efefef;
	padding: 10px 0;
}

.artefact-link {
	margin: 0 10px 0 10px;
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: $orange;
}

//acf 

.acf-label label {
	font-size: 1.1em;
	font-family: 'Domine', serif;	
}

.acf-button {
	padding: 5px 10px;
	border-radius: 3px;
	background-color: $primary;
	color: #fff;
}

.acf-button:hover {
	color: $orange;
	text-decoration: none;
}

.acf-form-submit input {
	padding: 10px 20px;
	border-radius: 3px;
	background-color: $primary;
	color: #fff;
	margin: 10px auto;
	display: block;
	font-size: 1.3em;
}

//footer
#wrapper-footer {
	background-color: $gray;
	padding-top: 80px;
	margin-top: 50px;
	color: #fff;
}

#wrapper-footer a, caption {
	color: #fff;
}